/* colors */
$solor-1: #34724b;
$solor-2: #2d593d;
$solor-3: #68a77c;
$solor-4: #9fbf9b;
$solor-5: #c4d8c0;
$solor-6: #9bbe83;
$solor-7: #ececec80;

/* typography */

$typography-1: "Amatic SC", cursive;
