/* colors */
$color-1: #34724b;
$color-2: #2d593d;
$color-3: #68a77c;
$color-4: #9fbf9b;
$color-5: #c4d8c0;
$color-6: #9bbe83;
$color-7: #ececec80;

/* typography */

$typography-1: "Amatic SC", cursive;
$typography-2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
