@import "../utilities/variables";

.h2-catalogue {
  font-size: 2rem;
  font-family: $typography-2;
  color: $color-1;
}

.price {
  font-size: 1.5rem;
  font-family: $typography-1;
}

.title-prod {
  color: $color-8;
}

.select-option {
  width: 50%;
  background-color: $color-4;
}
